.form-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form-center {
  display: grid;
  gap: 1rem;
}

.form-item-label {
  font-weight: bold;
}

.form-btn {
  text-align: center;
  margin-top: 1rem;
}
